p.ParaOverride-1 {
	background-color:#ffffff;
	text-align:justify;
}
p.ParaOverride-2 {
	background-color:#ffffff;
	text-align:justify;
	text-indent:35px;
}
p.ParaOverride-3 {
	text-align:left;
}
p.ParaOverride-4 {
	margin-bottom:0px;
}
p.ParaOverride-5 {
	margin-bottom:28px;
}
p.ParaOverride-6 {
	background-color:#ffffff;
}
span.CharOverride-1 {
	font-family:Webdings;
}
span.CharOverride-2 {
	font-family:"Times New Roman";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#15255b;
	font-family:"Bookman Old Style";
	font-size:0.833em;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	font-size:0.75em;
}
span.CharOverride-6 {
	font-family:Helvetica;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#222222;
	font-family:Arial;
	font-size:0.531em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-size:0.875em;
}
span.CharOverride-9 {
	font-family:"Bookman Old Style";
	font-style:normal;
	font-weight:300;
}
span.CharOverride-10 {
	font-family:Calibri;
	font-size:1.197em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	text-decoration:underline;
}
span.CharOverride-12 {
	color:#000000;
}
span.CharOverride-13 {
	font-family:Calibri;
	font-size:1.197em;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-14 {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
}
span._idGenCharOverride-1 {
	font-family:Cambria;
}
span._idGenCharOverride-2 {
	font-family:Webdings;
}
span._idGenCharOverride-3 {
	font-family:Webdings;
	font-size:0.684em;
}
._idGenDropcap-1 {
	float:left;
	font-size:2.936em;
	line-height:1;
	margin-bottom:-0.216em;
	margin-right:0.05em;
	margin-top:-0.118em;
}
img._idGenObjectAttribute-1 {
	height:8px;
	width:8px;
}
img._idGenObjectAttribute-2 {
	height:1px;
	width:249px;
}
img._idGenObjectAttribute-3 {
	height:1px;
	width:213px;
}
img._idGenObjectAttribute-4 {
	height:1px;
	width:120px;
}
img._idGenObjectAttribute-5 {
	height:1px;
	width:238px;
}
img._idGenObjectAttribute-6 {
	height:1px;
	width:201px;
}
img._idGenObjectAttribute-7 {
	height:1px;
	width:199px;
}
img._idGenObjectAttribute-8 {
	height:1px;
	width:241px;
}
img._idGenObjectAttribute-9 {
	height:1px;
	width:247px;
}
img._idGenObjectAttribute-10 {
	height:1px;
	width:240px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
