p.ParaOverride-1 {
	text-align:center;
}
span.CharOverride-1 {
	font-family:"Lucida Grande", sans-serif;
	font-size:1.167em;
	font-style:normal;
	font-weight:600;
}
img._idGenObjectAttribute-1 {
	height:42px;
	width:235px;
}
img._idGenObjectAttribute-2 {
	height:11px;
	width:237px;
}
img._idGenObjectAttribute-3 {
	height:10px;
	width:115px;
}
img._idGenObjectAttribute-4 {
	height:77px;
	width:71px;
}
