p.Legal-espacio-abajo {
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.583;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.legal-primer-renglón {
	color:#000000;
	font-family:Garamond, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.583;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	margin-top:85px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.CharOverride-1 {
	font-family:Garamond;
	font-size:1.2em;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-2 {
	font-family:Garamond;
	font-size:0.7em;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-3 {
	font-family:Garamond;
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
