{% extends 'home.html'%}

{% block section1%}
<div>
    <br>
        <div style="margin-block-end: 700px; background:#f6f7f0;margin-left: 20px;height: 150%;margin-right: 20px;">
            <h3 style="   padding: 24px; float: left; width: 65%;  color:black;  text-align: justify;margin-left: 20px; font-weight: bold;">
                ARIADNA TAPIA   
            </h3>
            <p  style="padding: 10px; float: left; width: 50%;  color:black; font-size: 18px; text-align: justify;margin-left: 15px;">
                Angelóloga y Life Coach El 7 de diciembre de 1995 tiene su primer contacto con los ángeles.
También ha sido incluida en “Femme”. Ambos documentales narrados por Sharon Stone. Con motivo de estos dos documentales asiste al festival de Canes en sus ediciones 67 y 71*.
En 2015 sus huellas fueron develadas y colocadas en el Pasaje Esotérico Esteban Mayo de la Plaza de las Estrellas en la Ciudad de México.     
            </p>
            <img style="padding: 20px; float: left; width: 40%; /* margin-top: 0px; */" src="https://ariadnatapia.com/wp-content/uploads/2022/02/photo_2022-02-03-21.00.14.jpeg" width="70" height="350">
            </img>
        </div>
    </br>
</div>

{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}