
{% extends 'home.html'%}
{% load static %}
{% block section1%}
<div>
    <br>
        <div style="margin-top: -40px;  background:#f6f7f0; border:2px solid #000;;">
            <div     style="padding: 90px;" >
            <i class="fa fa-credit-card" aria-hidden="true">       Forma de pago</i>
        </br>
    </br>
              Banco BBVA Bancomer</br> 
                Número de cuenta: 0471490915</br>
                Clabe interbancaria: 012180004714909152</br>
                Número de tarjeta bancaria: 4152 3137 5510 2584 </br>
                Ariadna Becerra Tapia </br>
                Monto: $2,222.00 MXN</br>
                Monto extranjero: pago por </br>
                PayPal 120.00 USD - ariadna.tapia@gmail.com</br>
                
                *Favor de enviar tu email a registrar y foto del comprobante de transferencia a: <i class="fa fa-whatsapp" aria-hidden="true"> +5205580319184</i> </br>
        </div>
    </div>
  
</div>

{% endblock%}

{% block endpage %}
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    chat-title="Multiboleto"
    intent="WELCOME"
    chat-icon="https://multiboleto.com/images/multiboleto.png"
    agent-id="b4596094-9cc7-434d-b44d-4d82df71e98d"
    wait-open="true"
    language-code="es">
  </df-messenger>
  {% include 'whats.html' %}
{% endblock %}
