{% extends 'dashboard.html'%}
{% load static %}
{% block dashboarHeaders %}
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script src="{% static 'dashboard/js/chartCountry.js' %}?version=202112301200"></script>
<script src="{% static 'dashboard/js/cityChart.js' %}?version=202112301200"></script>
<script src="{% static 'dashboard/js/languageChart.js' %}?version=202112301200"></script>

{% endblock   %}

{% block dashboarContent%}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="justify-content:center;">
                    <h4 class="card-title"> Mapa de Usuarios a nivel mundial </h4>
                    <div id="container" style="padding:60px;">
                        <div class="loading">
                            <i class="icon-spinner icon-spin icon-large"></i>
                            Cargando...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Tabla de Usuarios por país-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Usuarios por país </h4>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>País</th>
                        <th>Usuarios</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for array in data %}
                        {% for country,info in array.items%}
                          <tr>
                                <td> <span><img src="{{info.flag}}" style="height:100%;"></span> <span>{{info.country}} </span></td>
                                <td>{{info.value}}</td>
                          </tr>
                      {% endfor%}
                    {% endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>    
        </div>
        <!--Gráfica de Usuarios por país-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Gráfica de usuarios por país</h4>
                <canvas id="pieChart"></canvas>
            </div>
            </div>    
        </div>
        <!--Tabla de Usuarios por ciudad-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Usuarios por ciudad </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>País</th>
                            <th>Usuarios</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for city,value in cities.items %}
                            <tr>
                              <td> <span>{{city}} </span></td>
                              <td>{{value}}</td>
                            </tr>
                          {% endfor%}
                          </tbody>
                      </table>
                </div>
              </div>
            </div>    
        </div>
        <!--Gráfica de Usuarios por ciudad-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Gráfica de usuarios por ciudad</h4>
                <canvas id="cityChart"></canvas>
            </div>
            </div>    
        </div>
        <!--Tabla de Usuarios por idioma-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Usuarios por idioma </h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Idioma</th>
                            <th>Usuarios</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for language,value in languages.items %}
                          <tr>
                            <td> <span>{{language}} </span></td>
                            <td>{{value}}</td>
                          </tr>
                        {% endfor%}
                        </tbody>
                      </table>
                </div>
              </div>
            </div>    
        </div>
        <!--Gráfica de Usuarios por ciudad-->
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Gráfica de usuarios por idioma</h4>
                <canvas id="languageChart"></canvas>
            </div>
            </div>    
        </div>
    </div>
    

{% endblock %}

{% block dashboarScripts %}
  <script src="{% static 'dashboard/vendors/chart.js/Chart.min.js'%}?version=202112301001"></script>

{% endblock %}

{% block dashboarScript1 %}
<script>
    var dict;

    countries=[];
    countriesVal=[];

    languages=[];
    languagesVal=[];

    cities=[];
    citiesVal=[];

    $.ajax({
        url:'{% url 'getCountry' %}',
        type: 'POST',
        dataType:'json'
    }).done( function (data) {
        console.log("Data");
        console.log(data);
        dict=data;
        drawChart(dict);

    }).fail(function (jqXHR, textStatus,errorThrown)
   {
       console.log("Error e");  
       const chart = drawChart();
       chart.showLoading(
           '<i class="icon-frown icon-large"></i> ' +
           'Error loading data'
       );       
   }); 

   
       $.ajax({
        url:'{% url 'getGraph' %}',
        type: 'POST',
        dataType:'json'
        }).done( function (data) {
            console.log("Data Graph");
            console.log(data[0]);
            //Countries 
            console.log("countries");
            console.log(data[0].countries);
            for (var [key, value] of Object.entries(data[0].countries))
            {
                countries.push(key);
                countriesVal.push(value);
            }
            pieChart(countriesVal,countries);
            //Cities
            console.log("cities");
            console.log(data[0].countries);
            for (var [key, value] of Object.entries(data[0].cities))
            {
                cities.push(key);
                citiesVal.push(value);
            }
            cityChart(citiesVal,cities);          
            //Languages          
            console.log("languages");
            console.log(data[0].countries);
            for (var [key, value] of Object.entries(data[0].languages))
            {
                languages.push(key);
                languagesVal.push(value);
            }
            languageChart(languagesVal,languages);                 

        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error gráfica");                     
        }); 
        
    function drawChart(data)
    {
        return Highcharts.mapChart('container', {
                chart: {
                    map: 'custom/world',
                    borderWidth: 1
                },
        
                colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
                    'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],
        
                title: {
                    text: ''
                },
        
                mapNavigation: {
                    enabled: true
                },
        
                legend: {
                    title: {
                        text: 'Escala de usuarios',
                        style: {
                            color: ( // theme
                                Highcharts.defaultOptions &&
                                Highcharts.defaultOptions.legend &&
                                Highcharts.defaultOptions.legend.title &&
                                Highcharts.defaultOptions.legend.title.style &&
                                Highcharts.defaultOptions.legend.title.style.color
                            ) || 'black'
                        }
                    },
                    align: 'left',
                    verticalAlign: 'bottom',
                    floating: true,
                    layout: 'vertical',
                    valueDecimals: 0,
                    backgroundColor: ( // theme
                        Highcharts.defaultOptions &&
                        Highcharts.defaultOptions.legend &&
                        Highcharts.defaultOptions.legend.backgroundColor
                    ) || 'rgba(255, 255, 255, 0.85)',
                    symbolRadius: 0,
                    symbolHeight: 14
                },
        
                colorAxis: {
                    dataClasses: [{
                        to: 20
                    }, {
                        from: 20,
                        to: 100
                    }, {
                        from: 100,
                        to: 500
                    }, {
                        from: 500,
                        to: 100
                    }, {
                        from: 1000,
                        to: 5000
                    }, {
                        from: 5000,
                        to: 10000
                    }, {
                        from: 10000
                    }]
                },
        
                series: [{
                    data: data,
                    joinBy: ['iso-a2', 'code'],
                    animation: true,
                    name: 'Usuarios a nivel mundial',
                    states: {
                        hover: {
                            color: '#a4edba'
                        }
                    },
                    shadow: false
                }]
            });
    }
</script>
{% endblock %}

