{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plataformas Virtuales</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}">-->
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'lib/css/font-awesome.min.css' %}">

    <!-- Sweetalert2 -->
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'lib/css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'lib/style.css' %}?version=20220124091508">
    <script src="{% static 'lib/js/custom.js' %}"></script>
    <!--Iconos Agenda-->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

</head>
<body>
<header class="site-header">

  {% include 'header.html' %}
  <div class="bodyPage">
    {% block body %}
    {% endblock   %}
  </div>

</header><!-- .site-header -->

  {% block section1 %}
  {% endblock   %}

{% include 'footer.html' %}

{% block javascript %}

{% endblock   %}
<script type='text/javascript' src="{% static 'lib/js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/masonry.pkgd.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/jquery.collapsible.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/swiper.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/jquery.countdown.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/circle-progress.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/jquery.countTo.min.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/custom.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/streamTab.js' %}"></script>
<!-- Js funciones Ajax-->
<script type='text/javascript' src="{% static 'lib/js/form-functions.js' %}"></script>
<script type='text/javascript' src="{% static 'lib/js/jquery.js' %}"></script>


</body>
</html>