{% extends 'home.html'%}

{% block section1%}
<div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 agendaCard" >
                <div class="mobile-wrapper">
                    <!--======= Header =======-->
                    <header class="headerAgenda">
                    </header>
                    <!--======= Today =======-->
                    <section class="today-box" id="today-box">
                    </section>
                    <!--======= Upcoming Events =======-->
                    <section class="upcoming-events">
                        <div class="container">
                            {% for user in usersOnline %}
                            <h3>{{user}} </h3>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>        
        </div>
</div>


{% endblock%}
