{% load static %}
<div class="header-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-3 col-lg-3"> <!-- order-lg-1 -->
                <div class="site-branding">
                    <div class="site-title">
                        <a href="{% url 'index' %}"><img src="{% static 'lib/images/multiboleto.png' %}" alt="logo" class="imgNavLogo"></a>
                    </div><!-- .site-title -->
                </div><!-- .site-branding -->
            </div><!-- .col -->

            <div class="col-9 col-lg-9"> <!--order-2 order-lg-2 -->
                <nav class="site-navigation">
                    <!-- Hamburger Menu -->
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->

                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}">Evento</a></li>
                        <li><a href="{% url 'Speakers' %}">Instrucciones</a></li>
                        <li><a href="{% url 'Agenda' %}">Ariadna Tapia</a></li>
                       <li><a href="{% url 'Questions' %}">Más acerca del reto</a></li> 
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        <!-- <li><a class="btn gradient-bg" href="#">Buy Tickets</a></li> -->
                    {% else %}
                        <!--<li><a href="{% url 'registro' %}">Registrarse</a></li>-->
                        <li><a href="{% url 'Breakouts' %}">Forma de pago</a></li>
                        <li><a href="{% url 'Questions' %}">Más acerca del reto</a></li>
                        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                    {% endif %}
                </ul>
              </nav>
            </div><!-- .col -->

            <!-- <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3 bg-red">
            </div>  <!-- .col -->
        </div> <!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .header-bar -->
