<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Get Analytics</title>
  </head>
  <body>
    <h4> Datos de dispositivo </h4>
    <h6> {{sistemaO}}</h6>
    <h6><strong> Navegador: </strong> {{browser}}</h6>
    <h6><strong> Sistema Operativo: </strong> {{os}}</h6>
    <h6><strong> Dispositivo: </strong> {{device}}</h6>
    <h6><strong> Lenguaje: </strong> {{language}}</h6>
    <h6><strong> Tipo de Dispositivo: </strong> {{typeDevice}}</h6>
    <h6><strong> Code Country: </strong> {{codeCountry}}</h6>

    <img src={{flag}} style="width:40px;">
    <h6><strong> Ip: </strong> {{ip}}</h6>
    <h6><strong> Message: </strong> {{message}}</h6>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
