{% extends 'home.html'%}
{% load static %}
{% block style%}
      df-messenger {
        --df-messenger-bot-message: #646b83;
        --df-messenger-button-titlebar-color: #77369e;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #77369e;
        --df-messenger-user-message: #77369e;
        }

{% endblock %}

{% block section1%}

    <div class="swiper-container hero-slider">

        <div class="swiper-wrapper" style="margin-top: -20px;">
            <div class="swiper-slide indexCard" data-date="2022/05/30 12:00:00">
             <!--   <a href="{% url 'Agenda' %}"><img src="{% static 'lib/images/ariadnaTapia.png' %}" alt="logo" class="imgNavLogo"></a>-->
           
                <div class="hero-content">
                    <div class="container contCenter">
                        <div class="row">
                            <div class="col flex flex-column justify-content-center">
                                <div class="entry-header">
                                    <h2 class="entry-title">El evento inicia en: </h2>

                                    <div class="countdown flex align-items-center">
                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dday"></span>
                                            <label> Días</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dhour"></span>
                                            <label> Horas</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dmin"></span>
                                            <label> Minutos</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dsec"></span>
                                            <label> Segundos</label>
                                        </div><!-- .countdown-holder -->
                                    </div><!-- .countdown -->

                                </div><!--- .entry-header -->

                                <div class="entry-footer contCenter">
                                    <a class="btn gradient-bg" style="font-size: 14px;" href="{% url 'login' %}">Iniciar Sesión</a>
                                </div><!-- .entry-footer" -->
                            </div><!-- .col -->
                        </div><!-- .container -->
                    </div><!-- .hero-content -->
                    <div style="margin-top: 20px;">
                        <div style="border: 2px solid #000;width: 45%;background-color: white;margin-left: 25%;padding: 2.5%;" >
                        <i class="fa fa-credit-card" aria-hidden="true">       Forma de pago</i>
                    </br>
                </br>
                          Banco BBVA Bancomer</br> 
                            Número de cuenta: 0471490915</br>
                            Clabe interbancaria 012180004714909152</br>
                            Número de tarjeta 4152 3137 5510 2584 </br>
                            Ariadna Becerra Tapia </br>
                            *Favor de enviar comprobante de transferencia a: +5205580319184  </br>
                    </div>
                </div>
                </div><!-- .swiper-slide -->
            </div><!-- .swiper-wrapper -->
        </div>
    </div><!-- .swiper-container -->
{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">
</div>
{% endblock %}

{% block endpage %}
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    chat-title="Multiboleto"
    intent="WELCOME"
    chat-icon="https://multiboleto.com/images/multiboleto.png"
    agent-id="b4596094-9cc7-434d-b44d-4d82df71e98d"
    wait-open="true"
    language-code="es">
  </df-messenger>
{% endblock %}