{% extends 'home.html'%}
{% load static %}
{% block style%}
      df-messenger {
        --df-messenger-bot-message: #646b83;
        --df-messenger-button-titlebar-color: #77369e;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #77369e;
        --df-messenger-user-message: #77369e;
        }

{% endblock %}

{% block section1%}

    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper" style="margin-top: -20px;">
            <div class="swiper-slide indexCard" >
                <img style="display: block;margin: 0px auto;margin-top: 5%;width: 60%;height: 50%;" src="{% static 'lib/images/ariadnaTapia2.png' %}">
                </img>
                <br/>
                <h3 style=" 
                            color: white;
                            text-align: center;
                            font-weight: bold;
                            text-shadow: 7px 4px 5px yellow;
                            font-size: -webkit-xxx-large;
                            ">
                                Reto 21 <br/>
                            </h3> 
                <div>
                        <div style="width: 48%; display: inline-block;">
                            
                            <p  style="color: white;font-size: 28px;font-weight: bold;text-align: center;text-shadow: 1px 4px 5px black;">
                                Piensa positivo solo por hoy
                                <br/>
                                ¡No te lo pierdas!
                                <br/>
                                Reto 21 días con Ariadna Tapia para mejorar tu vida  <br/> <br/> 
                                
                            </p>
                        </div>
                        <div class="videoStreaming" style="width: 48%; display: inline-block;">
                            <br/>
                            <div id="video-container" class="embed-responsive embed-responsive-16by9" style= "height: 400px;">
                                <iframe src="https://player.vimeo.com/video/715782566?h=036ea4364e" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen ></iframe>
                                <br/>
                            </div>
                        </div>
                        <div style="width: 100%;height: 20%;margin-block-end: 10%; margin-left: 5%;" >
                            <div class="entry-footer contCenter" style="width: 40%; display: inline-block;">
                                <a class="btn gradient-bg" style="font-size: 14px;" href="{% url 'Breakouts' %}">Forma de pago</a>
                            </div><!-- .entry-footer" -->
                            <div class="entry-footer contCenter" style="width: 40%; display: inline-block;">
                                <a class="btn gradient-bg" style="font-size: 14px;" href="{% url 'login' %}">Iniciar Sesión</a>
                            </div><!-- .entry-footer" -->
                        </div> 
                </div>
                        
            </div>
                <!----aqui-
            </div>
                <div>
                <br>
                    <div style="margin-block-end: 700px; background:#f6f7f0;margin-left: 20px;height: 150%;margin-right: 20px;">
                        <p  style="padding: 10px; float: left; width: 50%;  color:black; font-size: 18px; text-align: justify;margin-left: 15px;">
                            Adquiere tus boletos a través de:  
                        </p>
                        <img style="" src="{% static 'lib/images/multiboleto_color.png' %}" width="20" height="20">
                        </img>
                    </div>
                </br>
                </div>
                <p><a href="https://reto21piensapositivo.multiboleto.com/">https://reto21piensapositivo.multiboleto.com/</a></p>
                <p>Para mayor informes: </p><p><i class="fa fa-whatsapp">+52 5580319184</i> </p>
            </div>
        -->
        </div>
    </div><!-- .swiper-container -->
{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">
</div>
{% endblock %}

{% block endpage %}
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    chat-title="Multiboleto"
    intent="WELCOME"
    chat-icon="https://multiboleto.com/images/multiboleto.png"
    agent-id="b4596094-9cc7-434d-b44d-4d82df71e98d"
    wait-open="true"
    language-code="es">
  </df-messenger>
  {% include 'whats.html' %}
{% endblock %}