{% extends 'home.html'%}

{% load widget_tweaks %}

{% block section1%}
<div>
<div class="newsletter-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 mx-auto p-0">
                        <div class="">
                            <div class="login-box">
                                <div class="login-snip"> 
                                    <header class="entry-header">
                                        <h2 class="entry-title">{{title}}</h2>
                                    </header>
                                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                                    <label for="tab-1" class="tab"></label>
                                    <input id="tab-2" type="radio" name="tab" class="sign-up">
                                    <label for="tab-2" class="tab"></label>
                                    <div class="login-space">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                        <div class="login">
                                            <div class="group">
                                                <label class="errorLogin" id="errorLogin"> Correo electrónico </label>
                                            </div>
                                            <div class="group">
                                                <label for="user" class="label"> Correo electrónico </label>
                                                {{ form.username | add_class:"input" }}
                                                <!--<input id="user" type="text" class="input" placeholder="Enter your username">-->
                                            </div>
                                            <br>
                                           <!-- <div id="password-group" class="group">
                                                <label for="pass" class="label">Contraseña </label>
                                                <div class="inner-addon">
                                                  {{ form.password | add_class:"input password-input"  }}
                                                  <i id="tooglePassword" class="far fa-eye fa-lg"></i>
                                                </div>
                                            </div>-->
                                            <div class="group">
                                                <input class="btn gradient-bg" type="submit" value="Iniciar Sesión">
                                            </div>
                                            <br><br>
                                            <!--<div class="foot"> <a href="#">Forgot Password?</a> </div>-->
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    const tooglePasswordButton = document.getElementById("tooglePassword");

    tooglePasswordButton.addEventListener('click', () => {
      const password = document.querySelector('.password-input');

      const type = password.getAttribute('type') === 'password' ? '' : 'password';
      password.setAttribute('type', type);
      tooglePasswordButton.classList.toggle('fa-eye-slash');
    })
</script>


{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}