{% extends 'home.html'%}

{% load static %}
{% load widget_tweaks %}

{% block addCss%}

<link rel="stylesheet" href="{% static 'lib/css/login/login.css' %}?version=202201121405">

{% endblock%}

{% block section1 %}
    <section class="ftco-section cardLogin">
        <div class="container mask">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap py-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="img" src="{% static 'lib/images/multiboleto.png' %}"> 
                        </div>
                        <h3 class="text-center mb-0">BIENVENIDO</h3>
                        <p class="text-center"> Ingresa tus datos para iniciar sesión </p>
                        <br><br>

                        <form action="" class="login-form" method="post">
                            {% csrf_token %}                                                          
                            {% if form.non_field_errors %}
                                <ul class='form-errors loginErrors'>
                                    {% for error in form.non_field_errors %}
                                        <li class="loginErrorLi"> * {{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>                            
                                {{ form.username | add_class:"form-control" |  attr:"placeholder: Correo Electrónico" }}    
                                <!--<input type="text" class="form-control" placeholder="Correo Electrónico" required>-->
                                </div>
                            <div class="form-group" style="display:flex; align-items: center;">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-lock"></span>
                                </div>

                                {{ form.password | add_class:"form-control" | attr:"placeholder:Contraseña" }}
                                <i class="fas fa-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer; color:white;"></i>
                                <!--<input type="password" class="form-control" placeholder="Contraseña" required>-->
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-100 text-md-right">
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn form-control btnLogin rounded submit px-3"> Iniciar sesión</button>
                            </div>
                        </form>
                        <br>
                        <div class="w-100 text-center mt-4 text"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
<script>
    togglePassword = document.getElementById("togglePassword");
    password = document.getElementById("id_password");
    console.log(password);
    console.log(password);

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);        
        // toggle the icon
        //this.classList.toggle("fa-eye-slash");

       
    });

</script>
{% endblock   %}
