{% extends 'form.html'%}

{% load widget_tweaks %}

{% block section1%}
<div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 agendaCard" >
                <div class="mobile-wrapper">
                    <!--======= Header =======-->
                    <header class="headerAgenda">
                        <div class="containerAgenda">
                        </div>
                    </header>
                         <div class="" style="background-color:red;">
                            <div class="login-box">
                                <div class="login-snip"> 
                                    <header class="entry-header">
                                        <h2 class="entry-title">{{title}}</h2>
                                    </header>
                                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                                    <label for="tab-1" class="tab"></label>
                                    <input id="tab-2" type="radio" name="tab" class="sign-up">
                                    <label for="tab-2" class="tab"></label>
                                    <div class="login-space">
                                    <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                            <input class="hidden" name="action" value="{{action}}" hidden>                                    
                                            <div class="group">
                                                <label class="label"> {{form.question.label}} </label>
                                                {{ form.question }}
                                            </div>
                                            <br>
                                            <div class="group"> 
                                                <label class="label"> {{form.user.label}}</label>
                                                {{ form.user | add_class:"input"  }}
                                            </div>
                                            <br>
                                            <div class="group"> 
                                                <label for="pass" class="label"> {{form.email.label}} </label>
                                                {{ form.email | add_class:"input"  }}
                                            </div>                                            
                                            <br>
                                            <div class="group"> 
                                                <input class="btn gradient-bg" type="submit" value="Enviar">                                            
                                            </div>
                                            <div class="hr"></div>
                                            <br><br>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>        
        </div>
</div>


{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}

{% block javascript %}
    <script> 
     $('form').on('submit', function (e) {
         e.preventDefault();
         var parameters= $(this).serializeArray();
         console.log(parameters);
         $.ajax({
             url:'{% url 'createQuestion' %}',
             type: 'POST',
             data: parameters,
             dataType:'json'        
         }).done( function (data) {
             if(!data.hasOwnProperty('error'))
             {
                console.log('Pregunta enviada');
             }
             else
             {
                listError(data.error);               
             }             
        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error e");
            console.log(textStatus+ ':'+errorThrown);
        }).always(function (data) {

        });        
     });

     function listError(obj)
     {
         $.each(obj, function (key, value)
         {
            //console.log(key); //tipo de error
            console.log(value[0]); //Valor del error

         });
     }
    </script>


{% endblock%}