

{% extends 'home.html'%}
{% load static %}
{% block section1%}

<div>
          <p  style=" display: inline-block; padding: 10px; color:black; font-size: 18px; text-align: justify;">
            <br/>
            Reto 21 
            <br/>
            "Piensa Positivo Solo por Hoy"
            <br/>
            Reto 21 es el resultado de mi experiencia dentro del campo de la reprogramación mental. Cada palabra que comparto contigo en este libro representa paso a paso la forma en la que yo experimenté gradualmente y sigo experimentando un verdadero cambio en mi vida en todos los aspectos. Con estas practicas yo pude tener resultados palpables y ver un crecimiento en todas las áreas de mi vida. Tienes en tus manos un documento escrito desde la práctica y la honestidad de mi propio proceso. Te entrego con todo el cariño herramientas para crecer. 
            Este e book y videos contigo durante 21 días,  esta dirigido a ti, si deseas prosperar, evolucionar  y generar cambios en tu vida. Lo único que necesitas es decidirlo y comenzar. Yo te acompaño 😘     
            <br/>
            Nota: al termino de tu reto 21, se programará una reounion con Ariadna Tapia para resolver todas tus dudas.
           </p>
          <div style="padding: 20px;  display: inline-block; align-items: center;">
          <img  style="height: 400px;width: 250px;margin-left: 20%;" src="{% static 'lib/images/Libro.jpg' %}" >
          </img>
        </div>
        
  </br>
</div>
{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}
