{% extends 'form.html'%}

{% load widget_tweaks %}

{% block section1%}
<div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 agendaCard" >
                <div class="mobile-wrapper">
                    <!--======= Header =======-->
                    <header class="headerAgenda">
                        <div class="containerAgenda">
                        </div>
                    </header>
                                    <form action="" method="post">
                                    {% csrf_token %}
                                            <input class="hidden" name="action" value="{{action}}" hidden>                                    
                                            <div class="group">
                                                <label class="label"> {{form.username.label}} </label>
                                                {{ form.username }}
                                            </div>
                                            <br>
                                            <div class="group"> 
                                                <label class="label"> {{form.first_name.label}}</label>
                                                {{ form.first_name | add_class:"input"  }}
                                            </div>
                                            <br>
                                            <div class="group"> 
                                                <label for="pass" class="label"> {{form.last_name.label}} </label>
                                                {{ form.last_name | add_class:"input"  }}
                                            </div>                                            
                                            <br>
                                            <div class="group"> 
                                                <label for="pass" class="label"> {{form.email.label}} </label>
                                                {{ form.email | add_class:"input"  }}
                                            </div>                                            
                                            <br>
                                            <div class="group"> 
                                                <label for="pass" class="label"> {{form.code.label}} </label>
                                                {{ form.code | add_class:"input"  }}
                                            </div>                                            
                                            <br>
                                            <div class="group"> 
                                                <label for="pass" class="label"> {{form.verified.label}} </label>
                                                {{ form.verified | add_class:"input"  }}
                                            </div>                                            
                                            <br>
                                            <div class="group"> 
                                                <label for="pass" class="label"> {{form.password.label}} </label>
                                                {{ form.password | add_class:"input"  }}
                                            </div>                                            
                                            <br>                                            
                                            <div class="group"> 
                                                <input class="btn gradient-bg" type="submit" value="Enviar">                                            
                                            </div>
                                            <div class="hr"></div>
                                            <br><br>
                                        </div>
                                        </form>
                </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>        
        </div>
</div>


{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}

{% block javascript %}
    <script> 
     $('form').on('submit', function (e) {
         e.preventDefault();
         var parameters= $(this).serializeArray();
         console.log("Tipo de Datos:");
         console.log(typeof(parameters));
         console.log(parameters);
        $.ajax({
             url:'{% url 'registro' %}',
             type: 'POST',
             data: parameters,
             dataType:'json'        
         }).done( function (data) {
             if(!data.hasOwnProperty('error'))
             {
                console.log('Pregunta enviada');
             }
             else
             {
                listError(data.error);               
             }             
        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error e");
            console.log(textStatus+ ':'+errorThrown);
        }).always(function (data) {

        });    
     });

     function listError(obj)
     {
         $.each(obj, function (key, value)
         {
            console.log(key); //tipo de error
            console.log(value[0]); //Valor del error

         });
     }
    </script>


{% endblock%}