
{% extends 'home.html'%}
{% load static %}
{% block section1%}

<div >
    <div style="margin-top: -40px;  background:#f6f7f0; border:2px solid #000;;">
        <div     style="padding: 90px;" >
            Gracias por sumarte a Reto 21, piensa positivo solo por hoy y por permitirme acompañarte en este proceso. Antes de ver el vídeo ya tendrás que hacer leído el capítulo correspondiente. A la hora de abrir tu vídeo, ten a la mano tu ebook para repasar juntos y para que realices algunas anotaciones en base a lo que yo comenté. Para que podamos llevar a cabo el programa en excelencia es importante que entres diariamente a ver tu vídeo o a lo sumo cada dos días.</br><a href="https://internetpasoapaso.com/archivos-epub/"> Como abrir libro</a>
            </br>
            </br> 
            </br>  
            <div class="entry-footer contCenter" style="width: 40%; display: inline-block;">
                <a class="btn gradient-bg" target="_blank" style="font-size: 14px;" href="https://www.youtube.com/watch?v=a-vEv1phDwA" download="Reto21">Como Descargar el ebook? </a>
            </div><!-- .entry-footer" --> 
        </div>
    </div>
    
</div>

{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}
