{% extends 'form.html'%}

{% load widget_tweaks %}

{% block section1%}
<div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 agendaCard" >
                <div class="mobile-wrapper">
                    <!--======= Header =======-->
                    <header class="headerAgenda">
                        <div class="containerAgenda">
                        </div>
                    </header>
                         <div class="">
                            <div class="login-box">
                                <div class="login-snip"> 
                                    <header class="entry-header">
                                        <h2 class="entry-title" style="color:red;">{{title}}</h2>
                                    </header>
                                    <div class="login-space">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            <input class="hidden" name="action" value="add" hidden>                                    
                                            <div class="group">
                                                <label for="user" class="label"> Nombre </label>
                                                <input  type="text" style="color:#2e7da7;" class="input" name="name" placeholder="Nombre">                                    
                                            </div>
                                            <br>
                                            <div class="group">
                                                <label for="user" class="label"> Puesto </label>
                                                <input  type="text" style="color:#2e7da7;" class="input" name="job" placeholder="Puesto" >                                    
                                            </div>
                                            <br>
                                            <div class="group">
                                                <label for="user" class="label"> Descripción </label>
                                                <input  type="text" style="color:#2e7da7;" class="input" name="description" placeholder="Descripción">                                    
                                            </div>
                                            <div class="group">
                                                <label for="user" class="label"> Imagen de perfil </label>
                                                <input type="file" name="imgProfile">
                                            </div>
                                            <br>
                                            <div class="group"> 
                                                <input class="btn gradient-bg" type="submit" value="Enviar">                                            
                                            </div>
                                            <div class="hr"></div>
                                            <br><br>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>        
        </div>
</div>


{% endblock%}

{% block body2%}
<div class="container" style="height: 400px; background-color: aqua;">

</div>
{% endblock %}

{% block javascript %}
    <script> 
     $('form').on('submit', function (e) {
         e.preventDefault();
         var parameters= $(this).serializeArray();
         console.log(parameters);
         $.ajax({
             url:'{% url 'createSpeaker' %}',
             type: 'POST',
             data: parameters,
             dataType:'json'        
         }).done( function (data) {
             if(!data.hasOwnProperty('error'))
             {
                console.log('Pregunta enviada');
             }
             else
             {
                listError(data.error);               
             }             
        }).fail(function (jqXHR, textStatus,errorThrown)
        {
            console.log("Error e");
            console.log(textStatus+ ':'+errorThrown);
        }).always(function (data) {

        });        
     });

     function listError(obj)
     {
         $.each(obj, function (key, value)
         {
            //console.log(key); //tipo de error
            console.log(value[0]); //Valor del error

         });
     }
    </script>


{% endblock%}