{% load static %}
<link rel="stylesheet" href="{% static 'lib/css/whats.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


 <link rel="stylesheet" href="{% static 'lib/css/whats2.css' %}"> 
<div class="nav-bottom">
           <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
            <div class="popup-whatsapp fadeIn">
                <div class="content-whatsapp -top">
                   <p> <i class="fa fa-whatsapp  icon-font-color" style="font-size: 18px;">        Whatsapp     </i>
                      <button type="button" class="closePopup">
                      <i class="material-icons icon-font-color">close</i>
                      </button> 
              
                  </p>
                   
                </div>
             
                 <p>  <img src="https://multiboleto.com/images/multiboleto.png" width="50">  Hola </p>
                <div class="content-whatsapp -bottom">
                  <input class="whats-input" id="whats-in" type="text" Placeholder="Escribe un mensaje para Ariadna..." />
                   
                   
                  
          
                    <button class="send-msPopup" id="send-btn" type="button">
                        <i class="material-icons icon-font-color--black">send</i>
                    </button>

                </div>
            </div>
            <button type="button" id="whats-openPopup" class="whatsapp-button">
                <div class="float" >
  <i class="fa fa-whatsapp my-float"></i></div>
            </button>
            <div class="circle-anime"></div>
        </div>
        <script  src="{% static 'lib/js/script2.js' %}"></script>
       